<h1 class="text-center p-4">Cocineros</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col col-4" *ngFor="let u of usuarios">
      <figure class="figure" routerLink="/usuarios/{{ u.id }}">
        <img width="300" height="300" class="img-thumbnail img-fluid text-center" style = "cursor:pointer;" src="{{ u?.foto }}" alt="{{ u?.nombre }} " />
        <figcaption class="figure-caption text-center">
          {{ u?.nombre }}
        </figcaption>
      </figure>
    </div>
  </div>
</div>

